/*
Remote for XBMC 
Copyright 2010 Furya-creations.net

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*   General   */
* { -webkit-user-select: none; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background: #000;
  -webkit-font-smoothing: antialiased;
}

.clear { clear:both; }

.hideme { display:none !important; }

.showme { display:block !important; }

a, img { border: 0; }
a, map, img { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

p {
  margin: 10px 8px 10px 8px;
  color: #4c596e;
  font-size: 10pt;
  text-shadow: rgba(255, 255, 255, 1) 0px 1px 0;
}

.hidden { display: none; }

/* Sections */
section#add-to-homescreen,
section#controller {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

section#controller { height: 100%; }

/* Add to homescreen */
section#add-to-homescreen h1 {
  margin: 15px 8px 15px 8px;
  padding: 0;
  color: #4c596e;
  font-size: 12pt;
  text-shadow: rgba(255, 255, 255, 1) 0px 1px 0;
}

section#add-to-homescreen p.add {
  position: absolute;
  left: 22px;
  bottom: 3px;
  margin: 0;
  padding-bottom: 5px;
  text-shadow: none;
  font-size: 10pt;
  background-position: 50% bottom;
}
section#add-to-homescreen p.add span {
  display: block;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  background-color: #000;
}

/* Nav */
nav { display: block;position: absolute;list-style-type:none;top: 20px; left: 15px; width: 30px; height: 30px;z-index:100; }

nav a {
  display: block;
  width: 120%;
  height: 30px;
  color: transparent;
  font-size: 0.5em;
  z-index:101;
}

nav a#showlinks { background: url('images/nav.png') no-repeat; }
nav a#shownumpad { background: url('images/numpad.png') no-repeat;background-size:100%;position:relative;width:100%; }
nav li:last-child { position:relative;left:40px;margin-top:-30px; }

nav a#showlinks { background-position: 0px -34px; }
nav a#showlinks.selected { background-position: 0 0; }
nav a#shownumpad.selected { display:none; }

/*   Controller   */
section#controller { background-color: #3d3d3d;background-position: 0 0; }

.controller_img {
  position: absolute;
  top: 3%;
  left: 5%;
  border: 0;
}

#gestures_logo {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 120px;
  z-index: 5;
  background-image: url('images/backgroundtouch.png');
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
overflow:hidden;
}

#touchcross {
	pointer-events:none;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 250px;
   height: 250px;
   margin-top: -125px; /* Half the height */
   margin-left: -125px; /* Half the width */	
}

ul.controllerbuttons {
  position: absolute;
  bottom: 2%;
  height: 73px;
  width: 31%;
  margin: 0;
  padding: 0;
  list-style-type: none;
 -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}

ul.controllerbuttons li { display: block;float: left;height: 100%; }

ul.controllerbuttons li a {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 0.5em;
}

ul.controllerbuttons > li:nth-child(1) { width: 19.5%; }
ul.controllerbuttons > li:nth-child(2) { width: 17%; margin-left: .7%; }
ul.controllerbuttons > li:nth-child(3) { width: 23%; margin-left: .7%; }
ul.controllerbuttons > li:nth-child(4) { width: 19.8%; margin-left: .7%; }
ul.controllerbuttons > li:nth-child(5) { width: 17.7%; margin-left: .7%; }

ul#controller_bar {  left: 2%;background: url('images/controller-bar.png') no-repeat 0 0;background-size: 100% 100%; }

ul#controller_bar2{ left: 50%;margin-left:-15.5%;background: url('images/controller-bar2.png') no-repeat 0 0;background-size: 100% 100%; }

ul#controller_bar3{ right: 2%;background: url('images/controller-bar3.png') no-repeat 0 0;background-size: 100% 100%; }

ul.links {
position: relative;
float:right;
margin:0;
list-style:none;
width:25%;
font-size: 20pt;
z-index:50;
padding:50px 0 20px;
background-color:rgba(5,5,5,0.55);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
min-width:250px;
}

ul.links li a {
text-decoration:none;
display:block;
background:#2e2e2e;
color:#999;
text-align:center;
border-radius:5px;
margin:3px;
}

ul.links li a:hover { background:#999999;color:#000; }

#keyboardlayout {
position:absolute;
width: 90%;
height: 100%;
bottom:0px;
margin-left: 2.5%;
margin-right: 2.5%;
z-index:-1;
display:none;
}

ul#keyboardnum { bottom: 39%; }

ul#keyboardtop { bottom: 29%; }

ul#keyboardmid { bottom: 19%;left: 3%; }

ul#keyboardbot { bottom: 9%;left: 5%; }

ul#keyboardopt2 { bottom: -1%;left: 3%; }

ul.keyboard { position: absolute;list-style:none;width:100%;font-size: 25pt; }

ul.keyboard li a:hover { background:#999999;color:#000; }
 
ul.keyboard li a {
text-decoration:none;
display:inline;
padding:15px 5%;
background:#2e2e2e;
color:#eee;
float:left;
text-align:center;
border-left:2px solid #999999;
border-right:2px solid #999999;
border-top:2px solid #999999;
border-bottom:2px solid #999999;
}

li#back2 { width: 130%; text-decoration:none; }
li#space2 { width: 480%; text-decoration:none; }
li#enter2 { width: 130%; text-decoration:none; }


/*   Link buttons   */
.links > li {
  position: relative;
  margin: 14px 0 0 0;
  border: 2px solid #999;
  border-radius: 10px;
  background: #2e2e2e;
  list-style-type: none;
  width:90%;
  left:5%;
  float:left;
  line-height:150%;
}

.links > li.big {
width:55%;
}

.links > li.small {
margin-left:4%;
width:30%;
}

#numpad.links > li.small {
margin:14px 2%;
width:25%;
}

/* ON/OFF toggle button */
li span.label {
  display: block;
  margin: 0;
  padding: 4px 0 3px 7px;
  color: #999;
  text-decoration: none;
}

li#inprogress > a { float:right;clear:both;padding:1px 5px; }

li#gestures span.label { float: left;width: 50%;padding-left: 7px; }

li#gestures a.on-off-toggle { margin: 10px 8px 0 0; }

a.on-off-toggle {
  display: block;
  float: right;
  width: 94px;
  height: 27px;
  padding: 0;
  color: transparent !important;
  font-size: 0.5em;
  background-image: url('images/on-off-button.png') !important;
  background-repeat: no-repeat !important;
  position:absolute;
  right:0px !important;
  border-radius:5px;
}

a.off { background-position: 0 0; }
a.on { background-position: 0 -29px !important; }

@media all and (min-width: 1300px) {

	ul.links { display:block !important; }

}

@media all and (max-width: 1300px) {

	ul.links { font-size:17pt; }
	
	li#gestures a.on-off-toggle { margin: 7px 8px 0 0; }

}

@media all and (max-width: 1300px) and (min-width: 1101px) {

	.controller_img { left:4%;top:4%;	}

	#linkarea { top:-1%;right:-1.5%; }

	ul#keyboardopt2 { bottom:-3%; }
	
	ul.links { display:block !important; }

}


@media all and (max-width: 1100px) and (min-width: 801px) {

	.controller_img {  left:4%;top:5%; }

	#linkarea { top:1%;right:0%; }

	ul.links { display:block !important; }

	ul#keyboardopt2 { bottom:-3%; }
	
}

@media all and (min-width: 800px) {

	#linksselector { display:none !important; }

}

@media all and (max-width: 800px) and (max-height: 800px) {

	.controller_img { left:50%;margin-left:-187.5px;top:5%;	}
	
	.controller_img.small { margin-left:-118.5px; }
	
	#touchcross { top:0;left:0;width:80%;height:80%;margin:10%; }

	#linkarea { top:1%;right:0%; }

	ul.links {
	  width:100%;
	  left:0;
	  float:left;
	  top:0px;
	  }

	#settings.links { display:none; }
	#numpad.links { display:none; }
	  
	.links > li { width:70%;left:15%; }

	.links > li.big {
	width:45%;
	}

	.links > li.small {
	margin-left:3.5%;
	width:21%;
	}

	#numpad.links > li.small {
	margin-left: 0;
	margin-right:5%;
	width: 20%;
	}

	ul#keyboardopt2 { bottom:-3%; }

	ul.controllerbuttons { width:90% !important;left:5% !important; }
	
	ul#controller_bar2 { bottom:110px;display:none;margin:0; }

	ul#controller_bar3 { bottom:205px;display:none; }
	
	#control_bar_swipe { display:block !important;position:absolute;bottom:0;left:0;right:0;height:100px;z-index:-1; }

	#header {
	  display: block;
	  position: relative;
	  height: 44px;
	  background-repeat: repeat-x;
	  background-image: url(data:image/png,base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAMAAACT+SJTAAAARVBMVEWFhYVjY2NhYWFcXFxYWFhUVFRRUVFMTExKSkpGRkZCQkI+Pj47Ozs5OTk1NTUxMTEvLy8qKiopKSkmJiYiIiIgICAAAAAZ+tVAAAAAIUlEQVQI12NgYGBkYmBiYmKEQgQbwmJgYkJhEQP/MjEDABbiAWt//crWAAAAAElFTkSuQmCC);
	  }

	ul.iphone_ui_list {  margin: 14px;width:80%;left:5%;	}

	
 /*
 landscape mode */
/*
 body.landscape section#controller {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}*/



 body.landscape #linksselector {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top:110px;
  margin: 0 0 0 -15px !important;
  left:0;
}


body.landscape .controller_img {
  position: absolute;
  top: 50%;
  margin-top:-20%;
  left: 140px;
  border: 0;
}

body.landscape #gestures_logo {
  position: absolute;
  top: 20%;
  left: 15px;
  width: 45%;
  height:75%;
  border: 0;
}

body.landscape ul.controllerbuttons { width:45% !important;left:53% !important;height:25%; }

body.landscape ul#controller_bar2 { display:block !important;bottom:35%; }

body.landscape ul#controller_bar3 {  display:block !important;bottom:65%; }

body.landscape .links > li { width:40%;margin:15px 0 0 15px;left:9%; }

body.landscape .links > li.big {
width:25% !important;
}

body.landscape ul:not(#numpad).links > li.small {
margin-right:0;
width:12% !important;
}

body.landscape #numpad.links > li.small {
margin:15px 0 0 7%;
}

body.landscape .links { margin:-40px 0 0 0; }

/*
body.landscape ul#keyboardnum {
  top: 510px;
}

body.landscape ul#keyboardtop {
  top: 580px;
}

body.landscape ul#keyboardmid {
  top: 650px;
}

body.landscape ul#keyboardbot {
  top: 720px;
}

body.landscape ul#keyboardopt2 {
  top: 790px;
}*/

/* landscape end */
}