/*
Remote for XBMC 

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*   General   */



/* Overlay */
.confirmon-overlay {
        background-color: black;
        background-color: rgba(0, 0, 0, 0.60);        
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 150;
        display: none;
        
}

.confirmon-box {
        background-color: #666666;
        color: #ddd;
        border: solid 1px #666666;  
        box-shadow: 0px 1px 10px #222;
        padding: 20px 10px 35px 10px;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        z-index: 151;
        display: none;
        position: absolute;
        margin-left: -15%;
        width: 30%;
        left: 50%;
        top: 185px;
        
}

.confirmon-box button {
        margin: 10px 15px;
        padding: 8px 15px;
        text-align: center;
        background-color: #0099cc;
        border: 1px solid #ddd;
        color: #ddd;
        font-weight: bold;
}

.confirmon-box button:hover {
        background-color: #00bbee;
        cursor: pointer;
}

.confirmon-content {
	color:#eee;
	font-size:13pt;
	text-shadow:none;
}





input {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
padding-left: 4px;
}

* {
   user-select: none !important;
   -o-user-select:none !important;
   -moz-user-select: none !important;
   -khtml-user-select: none !important;
   -webkit-user-select: none !important;
   -webkit-touch-callout: none !important;   
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background: #000;
  -webkit-font-smoothing: antialiased;
}

.clear { clear:both; }

.hideme { display:none !important; }

.showme { display:block !important; }

a, img { border: 0; }
a, map, img { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

p {
  margin: 10px 8px 10px 8px;
  color: #4c596e;
  font-size: 10pt;
  text-shadow: rgba(255, 255, 255, 1) 0px 1px 0;
}

.hidden { display: none; }

/* Sections */
section#add-to-homescreen,
section#controller {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

section#controller { height: 100%; }

/* Add to homescreen */
section#add-to-homescreen h1 {
  margin: 15px 8px 15px 8px;
  padding: 0;
  color: #4c596e;
  font-size: 12pt;
  text-shadow: rgba(255, 255, 255, 1) 0px 1px 0;
}

section#add-to-homescreen p.add {
  position: absolute;
  left: 22px;
  bottom: 3px;
  margin: 0;
  padding-bottom: 5px;
  text-shadow: none;
  font-size: 10pt;
  background-position: 50% bottom;
}
section#add-to-homescreen p.add span {
  display: block;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  background-color: #000;
}

/* Nav */
nav { display: block;position: absolute;list-style-type:none;top: 20px; left: 15px; width: 30px; height: 30px;z-index:100; }

nav a {
  display: block;
  width: 120%;
  height: 30px;
  color: transparent;
  font-size: 0.5em;
  z-index:101;
}

nav a#showlinks { background: url('images/nav.png') no-repeat; }
nav a#shownumpad { background: url('images/numpad.png') no-repeat;background-size:100%;position:relative;width:100%; }
nav li:last-child { position:relative;left:40px;margin-top:-30px; }

nav a#showlinks { background-position: 0px -34px; }
nav a#showlinks.selected { background-position: 0 0; }
nav a#shownumpad.selected { display:none; }

/*   Controller   */
section#controller { background-color: #3d3d3d;background-position: 0 0;overflow:hidden; }

#controller_pad { width:375px;margin:0 auto;#text-align:center; }

.controller_img {
  position: absolute;
  border: 0;
  margin:5% 0;
}

#gestures_logo {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 100px;
  z-index: 5;
  background-image: url('images/backgroundtouch.png');
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
overflow:hidden;
}

#touchcross {
	pointer-events:none;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 250px;
   height: 250px;
   margin-top: -125px; /* Half the height */
   margin-left: -125px; /* Half the width */	
}

ul.controllerbuttons {
  position: absolute;
  bottom: 2%;
  height: 60px;
  width: 31%;
  margin: 0;
  padding: 0;
  list-style-type: none;
 -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}

ul.controllerbuttons li { display: block;float: left;height: 100%; }

ul.controllerbuttons li a {
  display: block;
  width: 100%;
  height: 50px;
  color: transparent;
  font-size: 0.5em;
}

ul.controllerbuttons > li > a > img {
	margin: 3% auto 0;
	width:70px;
	display:block;
}

ul.controllerbuttons > li:nth-child(1) { width: 19.4%; }
ul.controllerbuttons > li:nth-child(2) { width: 19.4%; margin-left: .7%; }
ul.controllerbuttons > li:nth-child(3) { width: 19.4%; margin-left: .7%; }
ul.controllerbuttons > li:nth-child(4) { width: 19.4%; margin-left: .7%; }
ul.controllerbuttons > li:nth-child(5) { width: 19.4%; margin-left: .7%; }


ul#controller_bar {  left: 2%;#background: url('images/controller-bar.png') no-repeat 0 0;background-size: 100% 100%; }

ul#controller_bar2{ left: 50%;margin-left:-15.5%;#background: url('images/controller-bar2.png') no-repeat 0 0;background-size: 100% 100%; }

ul#controller_bar3{ right: 2%;#background: url('images/controller-bar3.png') no-repeat 0 0;background-size: 100% 100%; }


ul.links {
position: relative;
float:right;
margin:0;
list-style:none;
width:25%;
font-size: 15pt;
z-index:50;
padding:0px 0 10px;
background-color:rgba(5,5,5,0.85);
min-width:250px;
}

ul.links li a {
text-decoration:none;
display:block;
background:#2e2e2e;
color:#999;
text-align:center;
border-radius:5px;
margin:3px;
}

ul.links li a:hover { background:#999999;color:#000; }

/*   Link buttons   */
.links > li, .links > div > li {
  position: relative;
  margin: 14px 0 0 0;
  border: 2px solid #999;
  border-radius: 10px;
  background: #2e2e2e;
  list-style-type: none;
  width:90%;
  left:5%;
  float:left;
  line-height:150%;
}

.links > li.big {
width:55%;
}

.links > li.small {
margin-left:4%;
width:30%;
}

#linksselector { position:absolute;margin:20px 10px 0 0;z-index:150; }

#numpadselector { position:absolute;margin:-30px 15px 0 0;z-index:150; }

#numpad.links > div > li {
margin:14px 0;
}

#numpad.links > div > li.small {
margin:14px 2%;
width:25%;
}

#navigation > #quicklinks > a { width:50px;float:left; }
#navigation > #quicklinks > a > img { width:50px; }

/* ON/OFF toggle button */
li span.label {
  display: block;
  margin: 0;
  padding: 4px 0 3px 7px;
  color: #999;
  text-decoration: none;
}

li#inprogress > a { float:right;clear:both;padding:1px 5px; }

li#gestures span.label { float: left;width: 50%;padding-left: 7px; }

li#gestures a.on-off-toggle { margin: 5px 8px 0 0; }

a.on-off-toggle {
  display: block;
  float: right;
  width: 94px;
  height: 27px;
  padding: 0;
  color: transparent !important;
  font-size: 0.5em;
  background-image: url('images/on-off-button.png') !important;
  background-repeat: no-repeat !important;
  position:absolute;
  right:0px !important;
  border-radius:5px;
}

a.off { background-position: 0 0; }
a.on { background-position: 0 -29px !important; }


@media all and (max-width: 1650px) {
	.controller_img { #left:2%; }
}

@media all and (min-width: 1550px) {

	ul.links { #display:block !important; }
	overlaybuttons { #display: block; }

}

@media all and (max-width: 1300px) {

	ul.links { font-size:15pt; }
	
	li#gestures a.on-off-toggle { margin: 7px 8px 0 0; }

}

@media all and (max-width: 1300px) and (min-width: 1101px) {

	.controller_img { #left:4%;#top:4%;	}

	#linkarea { top:-1%;right:-1.5%; }

	ul#keyboardopt2 { bottom:-3%; }
	
}

@media all and (max-height: 1000px) {
    li#gestures a.on-off-toggle { margin: 3px; }
}

@media all and (min-height: 900px) {
	.links > li, .links > div > li { line-height:150%; }
}

@media all and (max-height: 900px) {
	.links > li, .links > div > li { line-height:120%; }
}

@media all and (max-height: 800px) {
	#settings.links { display:none; }
	ul#navigation,ul#settings { padding-top:50px; }
	ul.controllerbuttons > li > a > img {
		margin: 4% auto 0;
		width:60px;
		display:block;
	}		
}

@media all and (min-width: 800px) and (min-height: 675px) {
	ul#navigation,ul#settings { padding-top:0px; }
	#linksselector { display:none !important; }
	#numpadselector { display:none !important; }
	ul.links { display:block !important; }
	#numpadsms > li:first-child { display:none !important; }
	#numpadsms { display:block !important; }
	#numpad.links { max-width:375px; }
	#controller_bar3,#controller_bar2 { display:block; }
}

@media all and (max-width: 600px), screen and (max-height: 600px) {
	#controller_pad { width:237px;margin:0 auto; }
}

@media all and (max-width: 565px) {
	ul.links { font-size:13pt; }
	li#gestures a.on-off-toggle { margin: 2px 4px 0 0; }	

ul.controllerbuttons > li > a > img {
	margin: 6% auto 0;
	width:50px;
	display:block;
}	
	
}

@media screen and (max-width: 721px) and (max-height: 721px) {

	#mobile-toggle-area-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin: 0;
		overflow: hidden;
		height: 40px;
		background-color: rgba(0,0,0,.2);
	}

	#mobile-toggle-area {
		top: 0;
		width: 100%;
		left: 0;
		padding: 0;
		text-align: center;
		margin:0;
	}

	#mobile-toggle-area > li {
		display:inline-block;
		margin: 0px 1.5% 0;
	}

	#mobile-toggle-area > li > img {	
	cursor: pointer;
	width:40px;
	}

	.links { padding:0 !important; }

	.links > li, .links > div > li { line-height:150%; }
	.controller_img { left:50%;margin-left:-187.5px;top:5%;	}
	
	.controller_img.small { margin-left:-118.5px; }
	
	#touchcross { top:0;left:0;width:80%;height:80%;margin:10%; }

	#linkarea { top:1%;right:0%; }
	
	#mobile-bottom { display:block !important;position:absolute;bottom:0;width:80%;left:10%;height:60px; }

	#mobile-button-toggle { display:block !important; }
	
	/*#mobile-button-toggle { display:block !important;position:absolute;bottom:0;width:40px;height:38px;margin-left:-20px;left:50%;z-index:50; }
	*/
	nav { display:none; }
	nav { top:initial;bottom:0px;left:30%; }
	nav li:last-child { left:100px; }
	
  #linksselector {
  display:none;
 # -webkit-transform: rotate(90deg);
 # -moz-transform: rotate(90deg);
 # -o-transform: rotate(90deg);
 # -ms-transform: rotate(90deg);
 # transform: rotate(90deg);
 # top:110px;
 # margin: 0 0 0 -15px !important;
 # left:0;
 bottom:10px;
}

	ul.links {
	  width:100%;
	  left:0;
	  float:none;
	  top:0px;
	  bottom:40px;
	  position:absolute;
	  }

	#numpad.links { display:none; }
	  
	.links > li, .links > div > li { width:70%;left:15%; }

	.links > li.big {
	width:45%;
	}

	.links > li.small {
	margin-left:3.5%;
	width:21%;
	}
	
	#numpad.links > div > li.small {
	margin-left: 0;
	margin-right:5%;
	width: 20%;
	}
	
	#numpadselector { bottom:10px;display:none; }

	ul#keyboardopt2 { bottom:-3%; }

	ul.controllerbuttons { width:90% !important;left:5% !important; }
	
	ul#controller_bar { bottom:40px; }
	
	ul#controller_bar2 { bottom:105px;display:none;margin:0; }

	ul#controller_bar3 { bottom:170px;display:none; }
/*
	.controllerbuttons > li:nth-child(1) > a { margin:20% auto 0; }
	.controllerbuttons > li:nth-child(2) > a { margin:-5% auto 0; }
	.controllerbuttons > li:nth-child(3) > a { margin:-20% auto 0; }
	.controllerbuttons > li:nth-child(4) > a { margin:-5% auto 0; }
	.controllerbuttons > li:nth-child(5) > a { margin:20% auto 0; }
	*/
	#control_bar_swipe { display:block !important;position:absolute;bottom:0;left:0;right:0;height:100px;z-index:-1; }

	#header {
	  display: block;
	  position: relative;
	  height: 44px;
	  background-repeat: repeat-x;
	  background-image: url(data:image/png,base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAMAAACT+SJTAAAARVBMVEWFhYVjY2NhYWFcXFxYWFhUVFRRUVFMTExKSkpGRkZCQkI+Pj47Ozs5OTk1NTUxMTEvLy8qKiopKSkmJiYiIiIgICAAAAAZ+tVAAAAAIUlEQVQI12NgYGBkYmBiYmKEQgQbwmJgYkJhEQP/MjEDABbiAWt//crWAAAAAElFTkSuQmCC);
	  }

	ul.iphone_ui_list {  margin: 14px;width:80%;left:5%;	}
 	body.landscape nav { top:initial;bottom:0px;left:63.5%; }
	body.landscape nav li:last-child { left:100px; }
 /*
 body.landscape #linksselector {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top:110px;
  margin: 0 0 0 -15px !important;
  left:0;
}

 body.landscape #numpadselector {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top:150px;
  margin: 0 0 0 -15px !important;
  left:0 !important;
}*/

body.landscape .controller_img {
  position: absolute;
  top: 15px;
  left: 140px;
  border: 0;
}

body.landscape #gestures_logo {
  position: absolute;
  top: 8%;
  left: 15px;
  width: 45%;
  height:75%;
  border: 0;
}

body.landscape ul.controllerbuttons { width:50% !important;left:49% !important;height:25%; }

body.landscape ul#controller_bar2 { display:block !important;bottom:40%; }

body.landscape ul#controller_bar3 {  display:block !important;bottom:65%; }

body.landscape .links:not(#navigation) > li { width:40%;margin:15px 0 0 15px;left:9%; }

body.landscape .links:not(#navigation) > li.big {
width:25% !important;
}

body.landscape ul:not(#numpad).links:not(#navigation) > li.small {
margin-right:0;
width:12% !important;
}

body.landscape #mobile-toggle-area > li#thetoggle {
	display:none;
}

body.landscape 	#numpad.links > div > li.small {
	margin-left: 0;
	margin-right:5%;
	width: 15%;
	}
	
body.landscape .numpadfiller { display:none; }

body.landscape #numpad.links > li.small {
margin:15px 0 0 7%;
}
/* landscape end */
}